@import "../../../../../assets/util/colors.scss";

.navigate-to-last {
  width: 100%;
  padding: 48px 0 24px;

  button {
    border: 0;
    background: none;
    padding: 0;
    color: $primaryblue;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;

    svg {
      transition: all 0.2s ease-in-out;
      fill: $primaryblue;
    }
    &:hover {
      color: $primarybluedark;
      text-decoration: underline;

      svg {
        fill: $primarybluedark;
      }
    }
  }
}

.form-title {
  font-size: 1.563rem;
  line-height: 125%;
  color: $textdarkergrey;
  margin-bottom: 24px;
  font-weight: 600;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: $primaryblue;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: $primaryblue;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline {
  color: $primaryblue;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: $textdarkgrey;
}

::ng-deep .mat-raised-button {
  margin-right: 12px !important;
  background-color: $primaryblue;
  color: #ffffff;
}
::ng-deep .mat-button {
  margin-right: 12px !important;
}
.registration-form-section {
  padding: 48px 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

form {
  display: grid;
  .half-content {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
  }
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  background-color: $lightblue;
  width: 100%;
  padding: 48px;
  border-radius: 8px;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;

  .success-message-large {
    text-align: center;
    font-size: 1.563rem;
    font-weight: 500;
    line-height: 125%;
    color: $textblack;
  }

  .success-message-small {
    margin-top: 4px;
    color: $textdarkgrey;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 48px;
  }
}
