<app-header></app-header>

<div class="container">
  <div class="left-side">
    <div class="image">
      <img src="../../../../assets/images/pexels-tima-miroshnichenko-5845946.jpeg" alt="carpenter">
    </div>
  </div>
  <div class="right-side">
    <h1>Login</h1>
    <form action="" method="get">
      <div class="form-group">
        <input type="email" name="email" id="email" placeholder="Please enter your Email">
        <label for="email">Email</label>
      </div>
      <div class="form-group">
    <input type="password" name="Password" id="Password" placeholder="Please enter your Password">
    <label for="password">Password</label>
  </div>
    </form>
    <div class="btn-section">
      <button class="login-btn" type="submit">Login</button>
      <a href="/" class="sign-up">Dont have an Account?</a>
    </div>
  </div>
</div>
