@import "../../../../assets/util/colors.scss";

main {
  min-height: 100vh;
  background: url("../../../../assets/images/login.jpg");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
}

.login-form-section {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 48px 0;
}

.login-form {
  background-color: #ffffff;
  height: auto;
  width: 350px;
  border-radius: 8px;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
  padding: 48px 24px;
}

.form-title {
  font-size: 1.953rem;
  color: $textdarkergrey;
  font-weight: 600;
  line-height: 150%;
}

.form-subtitle {
  margin-top: 4px;
  margin-bottom: 24px;
  color: $textlightgrey;
  line-height: 150%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-link-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    display: block;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 12px;
    color: $primaryblue;
    line-height: inherit;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primarybluedark;
    }
  }
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline {
  color: $primaryblue;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: $textdarkgrey;
}

::ng-deep .mat-raised-button {
  margin-right: 12px !important;
  background-color: $primaryblue;
  color: #ffffff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
