<header>
  <div class="container">
    <div class="header">
      <a class="logo-section" href="">
        <img
          src="../../../../assets/images/Trade-Swap-logo-wide-removebg-preview.png"
          alt=""
          srcset=""
        />
      </a>
      <nav>
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          [routerLink]="['/workers']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Find A Tradesman</a
        >
        <a href="">Contact Us</a>
        <a [routerLink]="['/signin']" class="login-btn">Login</a>
      </nav>
    </div>
  </div>
</header>
