<div class="container">
<div class="info">
    <h1>check, how we can help you</h1>
    <br>
    <br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati voluptate error ipsum illo saepe reprehenderit porro nihil earum quisquam eaque. Ea, tempora atque! Eum, fugiat dolores temporibus incidunt sapiente hich?</p>
</div>
    <div class="main-form">
        <form>
            <h2>Contact Us</h2>
            <br>
            <br>
            
            <label for="first name">first Name:</label>
            <br/>
            <input type="text" name="fname"  placeholder="Enter your First Name"/>
            <br/>
            <label for="lname">Last Name:</label>
            <br/>
            <input type="text" name="lname"  placeholder="Enter your Last Name"/>
            <br/>
            <label for="email">Email:</label>
            <br/>
            <input type="email" name="email" placeholder="Enter your Email"/>
            <br/>
            <label for="Message">Message:</label>
            <br/>
            <input type="Messsage" name="Message" placeholder="Enter your query"/>
            <br/>
        
            <button  type="submit">send a message</button>
        </form>
    </div>
</div>

