<div class="app-container">
  <app-admin-nav></app-admin-nav>
  <div class="app-view">
    <nav class="utility-bar">
      <div class="utility-bar__inner">
        <ul class="utility-bar__list">
          <li class="utility-bar__list-item">
            <a href="#" class="utility-bar__item-link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2" baseProfile="tiny" x="0px" y="0px" viewBox="0 0 100 100" width="26px" xml:space="preserve"><path fill="#999" d="M10,66h16v24l24-24h40V10H10V66z M26,26h48v8H26V26z M26,42h48v8H26V42z"/></svg>
  <!--               Messages -->
            </a>
          </li>
          <li class="utility-bar__list-item">
            <a href="#" class="utility-bar__item-link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" fill="#999" width="20px" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 0.276083 0.32331250000000004" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><defs>
  </defs><g><path class="fil0" d="M0.185915 0.247296c-0.00283406,0.024408 -0.0235765,0.0433539 -0.0487436,0.0433539 -0.0251671,0 -0.0459057,-0.0189459 -0.0487436,-0.0433539l0.0974872 0zm-0.11863 -0.198392c0.015799,-0.0138347 0.0311442,-0.0218257 0.0461308,-0.0250946 6.4844e-005,-0.0131595 0.0107527,-0.0238092 0.0239312,-0.0238092 0.0130794,0 0.0237062,0.0104933 0.0239236,0.0235193 0.0154252,0.00307055 0.0312395,0.0111227 0.047523,0.0253845 0.0264907,0.0291493 0.0340927,0.0621854 0.0291378,0.0978076 -0.00316973,0.076226 0.0178474,0.055453 0.0381511,0.0874021 -0.0460163,0 -0.0920289,0 -0.138041,0 -0.0460163,0 -0.0920289,0 -0.138041,0 0.0203038,-0.031949 0.0413171,-0.0111761 0.0381511,-0.0874021 -0.00495866,-0.0356222 0.00264335,-0.0686583 0.029134,-0.0978076z"/></g></svg>
  <!--               Alerts -->
              <span class="utility-bar__indicator">3</span>
            </a>
          </li>
        </ul>
        <a href="#" class="utility-bar__account">
          <span class="utility-bar__account-avatar"></span>
          <span class="utility-bar__account-name">Daneil Hyman</span>
        </a>
      </div>
    </nav>
    <div class="content">
      <!-- <form [formGroup]="TradesmanForm" (ngSubmit)="onSubmit()">
        <h1>Add Tradesman</h1>
        <label for="fname">First Name</label>
        <input placeholder="First name" formGroupName="firstName" required type="text" id="firstname" name="firstname" ngModel>

        <label for="lname">Last Name</label>
        <input placeholder="Last name" formGroupName="lastName" required type="text" id="lastname" name="lastname" ngModel>

        <label for="email">Email</label>
        <input placeholder="Email" formGroupName="email" required type="email" id="email" name="email" ngModel>

        <label for="password">Password</label>
        <input placeholder="Password" formGroupName="password" required type="password" id="password" name="password" ngModel>

        <label for="cpassword">Confirm Password</label>
        <input placeholder="Confirm Password" formGroupName="cpassword" required type="password" id="cpassword" name="cpassword" ngModel>

        <label for="cellnumber">Cell Number</label>
        <input placeholder="Cell Number" formGroupName="cellnumber" required type="number" id="cellnumber" name="cellnumber" ngModel>

        <label for="skill">Skill</label>
        <select type="select" formGroupName="skill" placeholder="Skill" ngModel required>
          <option>Select...</option>
          <option *ngFor="let skill of skills" [value]="skill.id">{{skill.name}}></option>
        </select>

        <label for="parish">Parish</label>
        <select type="select" formGroupName="parish" placeholder="Parish" ngModel required>
          <option>Select...</option>
          <option  *ngFor="let parish of parishes" [value]="parish.id">{{ parish.name }}></option>
        </select>

        <button type="submit">Edit</button>
      </form> -->
      <form [formGroup]="TradesmanForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="inputfName">First Name</label>
          <input class="form-control" type="text" formControlName="firstname" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['firstname'].errors?.['required']"
          >
            First Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputlName">Last Name</label>
          <input class="form-control" type="text" formControlName="lastname" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['lastname'].errors?.['required']"
          >
            Last Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3">Email</label>
          <input class="form-control" type="text" formControlName="email" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['email'].errors?.['required']"
          >
            Enter your email.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['email'].errors?.['pattern']"
          >
            Enter valid email.
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">Password</label>
          <input class="form-control" type="password" formControlName="password" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['password'].errors?.['required']"
          >
            Password is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputVerify3">Mobile Number</label>
          <input
            class="form-control"
            type="text"
            formControlName="phoneNumber"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['phoneNumber'].errors?.['required']"
          >
            Enter your phone number.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['phoneNumber'].errors?.['pattern']"
          >
            Enter Numbers Only
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Skill</label>
          <select
            class="custom-select form-control"
            formControlName="skill"
          >
            <option value="">Choose...</option>
            <option *ngFor="let cat of skills" value="{{ cat._id }}">
              {{ cat.category_name }}
            </option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['skill'].errors?.['required']"
          >
            Choose a Skill.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Parish</label>
          <select
            class="custom-select form-control"
            formControlName="parish"
          >
            <option value="">Choose...</option>
            <option *ngFor="let par of parishes" value="{{ par._id }}">{{par.parish_name}}</option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['parish'].errors?.['required']"
          >
            Choose a Parish.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Register
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
