@import "../../../../assets/util/colors.scss";

main {
  width: 100%;
  height: auto;
}

.hero-section {
  padding: 48px 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .hero-text {
    padding-right: 48px;

    .hero-text-header {
      padding-top: 48px;
      font-family: "Poppins", sans-serif;
      font-size: 2.441rem;
      color: $textdarkergrey;
      line-height: 125%;
      font-weight: 600;

      span {
        color: $primaryblue;
      }
    }

    .hero-text-body {
      margin: 24px 0;
      color: $textlightgrey;
      line-height: 150%;
    }

    .hero-stickers {
      width: 100%;
      position: relative;

      img {
        height: 48px;
        transform: translateX(-4px);
      }
    }

    .hero-statistics {
      margin-top: 48px;
      width: 100%;
      display: flex;

      .hero-statistics-column {
        margin-right: 48px;
        display: flex;
        flex-direction: column;

        .hero-statistics-value {
          font-size: 1.563rem;
          font-weight: 800;
          line-height: 125%;
          color: $primaryblue;
        }
        .hero-statistics-label {
          font-size: 0.8rem;
          line-height: 150%;
          color: $textlightgrey;
          font-weight: 500;
        }
      }
    }
  }
  .hero-illustration {
    position: relative;
    padding-top: 24px;

    img {
      position: absolute;
      width: 50%;
      aspect-ratio: 7 / 9;
      object-fit: cover;
      object-position: 50% 20%;
      display: block;
      border-radius: 8px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    img:first-of-type {
      transform: rotate(-8deg);
      left: 48px;
      z-index: 2;
    }
    img:last-of-type {
      transform: rotate(32deg);
      top: 96px;
      right: 0px;
      z-index: 1;
      filter: brightness(0.6);
    }

    .illustration-card {
      top: 310px;
      max-width: 300px;
      display: flex;
      align-items: center;
      padding: 12px;
      background-color: #ffffff;
      border-radius: 8px;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      z-index: 3;

      .illustration-card-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
        background-color: $accentyellow;

        svg {
          fill: #ffffff;
        }
      }
      .illustration-card-text {
        margin-left: 8px;

        .illustration-card-text-header {
          font-weight: 600;
          color: $textblack;
          line-height: 150%;
        }

        .illustration-card-text-body {
          color: $textlightgrey;
          font-size: 0.64rem;
          line-height: 150%;
        }
      }
    }
  }
}

.search-section {
  padding: 72px 0 48px;

  .search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #ffffff;
    width: 60%;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .search-icon {
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: $primaryblue;
      }
    }
    .search-input {
      padding-right: 12px;
      flex: 1;
      border-right: 2px dashed $textlightgrey;
      select {
        width: 100%;
        border: 0;
        padding: 0;
        height: 24px;
        padding: 0 12px;
        color: $textdarkgrey;

        &:focus {
          outline: 0;
        }
      }
    }

    button {
      margin-left: 12px;
      border: 0;
      padding: 0;
      padding: 8px 18px;
      border-radius: 4px;
      background-color: $primaryblue;
      color: #ffffff;
      font-size: 0.8rem;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;

      &:hover {
        background-color: $primarybluedark;
      }
    }
  }
}
