<app-header></app-header>
<main>
  <div class="container">
    <section class="hero-section">
      <article class="hero-text">
        <h3 class="hero-text-header">
          Professional <span>Handymen</span> near you!
        </h3>
        <p class="hero-text-body">
          Find expert artisans near you all from the convienence of your home,
          at your own rates & at your convenient time.
        </p>
        <div class="hero-stickers">
          <img
            src="../../../../assets/stickers/stickers.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="hero-statistics">
            <div class="hero-statistics-column">
                <span class="hero-statistics-value">16,000</span>
                <span class="hero-statistics-label">Active Users</span>
            </div>
            <div class="hero-statistics-column">
                <span class="hero-statistics-value">1,000</span>
                <span class="hero-statistics-label">Handymen</span>
            </div>
            <div class="hero-statistics-column">
                <span class="hero-statistics-value">12,000</span>
                <span class="hero-statistics-label">Reviews</span>
            </div>
        </div>
      </article>
      <article class="hero-illustration">
        <img src="../../../../assets/images/plumbing.jpg" alt="">
        <img src="../../../../assets/images/mechanic.jpg" alt="">
      </article>
    </section>
  </div>
</main>
