<app-header></app-header>

<main>
  <div class="container">
    <!-- <div class="shape">
      <svg
        id="sw-js-blob-svg"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
      >
        <defs>
          <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
            <stop
              id="stop1"
              stop-color="rgba(255, 214, 10, 1)"
              offset="0%"
            ></stop>
            <stop
              id="stop2"
              stop-color="rgba(255, 214, 10, 1)"
              offset="100%"
            ></stop>
          </linearGradient>
        </defs>
        <path
          fill="url(#sw-gradient)"
          d="M25.2,-26.8C32.5,-23.9,38.2,-15.8,35.1,-9.7C32,-3.5,20.2,0.7,14.7,6.9C9.2,13.1,10,21.4,6.8,25.5C3.6,29.6,-3.6,29.6,-8.2,26.3C-12.9,23,-15,16.4,-20.2,10.3C-25.5,4.1,-33.9,-1.7,-35.6,-8.7C-37.2,-15.8,-32.2,-24.1,-25.1,-27C-18.1,-29.9,-9,-27.5,0,-27.4C9,-27.4,17.9,-29.7,25.2,-26.8Z"
          width="100%"
          height="100%"
          transform="translate(50 50)"
          stroke-width="0"
          style="transition: all 0.3s ease 0s"
          stroke="url(#sw-gradient)"
        ></path>
      </svg>
    </div> -->
    <section class="hero-section">
      <article class="hero-text">
        <h3 class="hero-text-header">
          Find a <span>skilled worker</span> near you!
        </h3>
        <p class="hero-text-body">
          Find expert artisans near you all from the convienence of your home,
          at your own rates & at your convenient time.
        </p>
        <div class="hero-stickers">
          <img
            src="../../../../assets/stickers/stickers.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="hero-statistics">
          <div class="hero-statistics-column">
            <span class="hero-statistics-value">16,000</span>
            <span class="hero-statistics-label">Active Users</span>
          </div>
          <div class="hero-statistics-column">
            <span class="hero-statistics-value">1,000</span>
            <span class="hero-statistics-label">workers</span>
          </div>
          <div class="hero-statistics-column">
            <span class="hero-statistics-value">12,000</span>
            <span class="hero-statistics-label">Reviews</span>
          </div>
        </div>
      </article>
      <aside class="hero-illustration">
        <img src="../../../../assets/images/carpenter.jpg" alt="" />
        <img src="../../../../assets/images/mechanic.jpg" alt="" />
        <article class="illustration-card">
          <div class="illustration-card-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
              />
            </svg>
          </div>
          <div class="illustration-card-text">
            <p class="illustration-card-text-header">
              Top notch service always
            </p>
            <p class="illustration-card-text-body">
              We help you find expert artisans tailored to your location.
            </p>
          </div>
        </article>
      </aside>
    </section>
    <section class="search-section">
      <div class="search-bar">
        <div class="search-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>
        </div>
        <div class="search-input">
          <select name="location" id="location">
            <option disabled selected>Select Your Location</option>
            <option value="Kingston, Jamaica">Kingston, Jamaica</option>
          </select>
        </div>
        <div class="search-input">
          <select name="location" id="location">
            <option disabled selected>Worker Category</option>
          </select>
        </div>

        <button>Search</button>
      </div>
    </section>
    <section class="workers-card-section">
      <header class="workers-card-section-header">
        <h6>Workers near you</h6>
        <a href="">view more workers</a>
      </header>
      <div class="workers-card-group">
        <article class="workers-card" *ngFor="let worker of workers">
          <img src="{{ worker.image }}" alt="" />
          <div class="workers-card-title">
            <div class="worker-name">{{ worker.name }}</div>
            <div class="worker-rate">
              {{ worker.rate | currency
              }}<span class="worker-rate-type"
                >/{{ worker.rateType
                }}<span *ngIf="worker.rateNegotiable">*</span></span
              >
            </div>
          </div>
          <div class="workers-card-subtitle">
            <span>{{ worker.skill }}</span
            ><span class="line-dot">&bull;</span
            ><span>{{ worker.location }}</span>
          </div>
          <div class="workers-card-details">
            <div class="worker-rating-section">
              <div class="worker-rating-label">Rating</div>
              <div class="worker-rating-value">
                <span>{{ worker.rating }} </span
                ><span class="rating-star">&starf;</span>
              </div>
            </div>
            <div class="worker-review-section">
              <div class="worker-review-label">Reviews</div>
              <div class="worker-review-value">{{ worker.reviews }}</div>
            </div>
            <div class="view-worker-profile-button-section">
              <a href="" class="view-worker-profile-button">View More</a>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="articles-section">
      <article class="article">
        <aside class="article-text">
          <h3>Your safety is our priority.</h3>
          <p>
            We carry cout multiple interviews, verification processes and
            background checks to give you qualified workers and the best
            service.
          </p>
        </aside>
        <div class="article-image">
          <img src="../../../../assets/images/vetting.jpg" alt="" srcset="" />
        </div>
      </article>
      <article class="article">
        <aside class="article-text">
          <h3>More time to get things done.</h3>
          <p>
            Let our workers handle the work so you have more time for yourself.
          </p>
        </aside>
        <div class="article-image">
          <img src="../../../../assets/images/relaxing.jpg" alt="" srcset="" />
        </div>
      </article>
    </section>
  </div>
  <div class="strip">
    <div class="container">
      <section class="testimonial-section">
        <header class="testimonial-section-header">
          <h3>Don't just take our word for it</h3>
          <p>See how we are saving the day for people like you.</p>
        </header>
        <div class="testimonials">
          <article class="testimonial">
            <p class="testimonial-quote">
              "I've had issues in the past with finding a handyman. Now I
              have easy access to the contact information several workers.
              Thanks TradeSwap!"
            </p>
            <div class="testimonial-client-section">
              <img
                src="https://news.harvard.edu/wp-content/uploads/2019/07/lprieto2-1200x800.jpg"
                alt=""
              />
              <div class="testimonial-client-information">
                <div class="client-name">Bruce Williams</div>
                <div class="client-title">Client</div>
              </div>
            </div>
          </article>
          <article class="testimonial">
            <p class="testimonial-quote">
              "TradeSwap is a saviour! I have many service providers at my
              fingertip with great customer service! Good Job TradeSwap."
            </p>
            <div class="testimonial-client-section">
              <img
                src="https://content.presspage.com/uploads/2170/1920_afro-close-up-daylight-818819-768219.jpg?10000"
                alt=""
              />
              <div class="testimonial-client-information">
                <div class="client-name">Suzette Coke</div>
                <div class="client-title">Client</div>
              </div>
            </div>
          </article>
          <article class="testimonial">
            <p class="testimonial-quote">
              "Thank you TradeSwap. This kind of service was really needeed in
              Jamaica. It was very difficult for me to find some help. It is
              much easier now."
            </p>
            <div class="testimonial-client-section">
              <img
                src="https://static01.nyt.com/images/2022/07/22/books/21DICTIONARY1/21DICTIONARY1-superJumbo.jpg"
                alt=""
              />
              <div class="testimonial-client-information">
                <div class="client-name">Prince Richards</div>
                <div class="client-title">Client</div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</main>
<app-footer></app-footer>
