<app-header></app-header>
<main>
  <div class="container">
    <section class="hero-section">
      <article class="hero-text">
        <h3 class="hero-text-header">
          Find a <span>skilled worker</span> near you!
        </h3>
        <p class="hero-text-body">
          Find expert artisans near you all from the convienence of your home,
          at your own rates & at your convenient time.
        </p>
        <div class="hero-stickers">
          <img
            src="../../../../assets/stickers/stickers.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="hero-statistics">
          <div class="hero-statistics-column">
            <span class="hero-statistics-value">16,000</span>
            <span class="hero-statistics-label">Active Users</span>
          </div>
          <div class="hero-statistics-column">
            <span class="hero-statistics-value">1,000</span>
            <span class="hero-statistics-label">Handymen</span>
          </div>
          <div class="hero-statistics-column">
            <span class="hero-statistics-value">12,000</span>
            <span class="hero-statistics-label">Reviews</span>
          </div>
        </div>
      </article>
      <article class="hero-illustration">
        <img src="../../../../assets/images/carpenter.jpg" alt="" />
        <img src="../../../../assets/images/mechanic.jpg" alt="" />
        <article class="illustration-card">
          <div class="illustration-card-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#000000"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
              />
            </svg>
          </div>
          <div class="illustration-card-text">
            <p class="illustration-card-text-header">
              Top notch service always
            </p>
            <p class="illustration-card-text-body">
              We help you find expert artisans tailored to your location.
            </p>
          </div>
        </article>
      </article>
    </section>
    <section class="search-section">
      <div class="search-bar">
        <div class="search-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>
        </div>
        <div class="search-input">
          <select name="location" id="location">
            <option disabled selected>Select Your Location</option>
            <option value="Kingston, Jamaica">Kingston, Jamaica</option>
          </select>
        </div>
        <div class="search-input">
          <select name="location" id="location">
            <option disabled selected>Worker Category</option>
          </select>
        </div>

        <button>Search</button>
      </div>
    </section>
  </div>
</main>
