@import "../../../../assets/util/colors.scss";

.line-dot {
  margin: 0 12px;
}

main {
  width: 100%;
  height: auto;
}

.hero-section {
  padding: 48px 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;

  .hero-text {
    padding-right: 48px;

    .hero-text-header {
      padding-top: 48px;
      font-size: 2.441rem;
      color: $textdarkergrey;
      line-height: 125%;
      font-weight: 600;

      span {
        color: $primaryblue;
      }
    }

    .hero-text-body {
      margin: 12px 0;
      color: $textlightgrey;
      line-height: 150%;
    }

    .hero-stickers {
      width: 100%;
      position: relative;

      img {
        height: 48px;
        transform: translateX(-4px);
      }
    }

    .hero-statistics {
      margin-top: 48px;
      width: 100%;
      display: flex;

      .hero-statistics-column {
        margin-right: 48px;
        display: flex;
        flex-direction: column;

        .hero-statistics-value {
          font-size: 1.563rem;
          font-weight: 800;
          line-height: 125%;
          color: $primaryblue;
        }
        .hero-statistics-label {
          font-size: 0.8rem;
          line-height: 150%;
          color: $textlightgrey;
          font-weight: 500;
        }
      }
    }
  }
  .hero-illustration {
    position: relative;
    padding-top: 24px;

    img {
      position: absolute;
      width: 50%;
      aspect-ratio: 7 / 9;
      object-fit: cover;
      object-position: 50% 20%;
      display: block;
      border-radius: 8px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    img:first-of-type {
      transform: rotate(-8deg);
      left: 48px;
      z-index: 2;
    }
    img:last-of-type {
      transform: rotate(32deg);
      top: 96px;
      right: 0px;
      z-index: 1;
      filter: brightness(0.6);
    }

    .illustration-card {
      top: 320px;
      max-width: 300px;
      display: flex;
      align-items: center;
      padding: 12px;
      background-color: #ffffff;
      border-radius: 8px;
      position: absolute;
      box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
      z-index: 3;

      .illustration-card-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
        background-color: $accentyellow;

        svg {
          fill: #ffffff;
        }
      }
      .illustration-card-text {
        margin-left: 8px;

        .illustration-card-text-header {
          font-weight: 600;
          color: $textblack;
          line-height: 150%;
        }

        .illustration-card-text-body {
          color: $textlightgrey;
          font-size: 0.64rem;
          line-height: 150%;
        }
      }
    }
  }
}

.search-section {
  padding: 72px 0 48px;

  .search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #ffffff;
    width: 60%;
    padding: 12px;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;

    .search-icon {
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: $primaryblue;
      }
    }
    .search-input {
      padding-right: 12px;
      flex: 1;
      border-right: 2px dashed $textlightgrey;
      select {
        width: 100%;
        border: 0;
        padding: 0;
        height: 24px;
        padding: 0 12px;
        color: $textdarkgrey;

        &:focus {
          outline: 0;
        }
      }
    }

    button {
      margin-left: 12px;
      border: 0;
      padding: 0;
      padding: 8px 18px;
      border-radius: 4px;
      background-color: $primaryblue;
      color: #ffffff;
      font-size: 0.8rem;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;

      &:hover {
        background-color: $primarybluedark;
      }
    }
  }
}

.workers-card-section {
  padding: 48px 0 0px;

  .workers-card-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
    margin-bottom: 48px;

    h6 {
      font-size: 1.563rem;
      color: $textdarkergrey;
      line-height: inherit;
    }

    a {
      color: $primaryblue;
      line-height: inherit;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $primarybluedark;
      }
    }
  }

  .workers-card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    .workers-card {
      padding: 12px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
      border-radius: 8px;
      background-color: #ffffff;
      transition: all 0.2s ease-in-out;
      position: relative;

      .location-badge {
        top: 16px;
        left: 16px;
        position: absolute;
        padding: 4px 12px;
        border-radius: 4px;
        background-color: #ffffff;
        font-weight: 500;
        color: $textdarkgrey;
        font-size: 0.64rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
      }

      img {
        width: 100%;
        display: block;
        aspect-ratio: 1.5;
        object-fit: cover;
        border-radius: 8px;
      }

      .workers-card-title {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        line-height: 150%;
        color: $textblack;

        .worker-name {
          word-wrap: break-word;
        }
        .worker-contact {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          span {
            display: flex;
            align-items: center;
            svg {
              margin-right: 4px;
            }
          }
        }
      }

      .workers-card-subtitle {
        margin-top: 4px;
        font-weight: 500;
        font-size: 0.64rem;
        color: $textdarkgrey;
        display: flex;
        justify-content: space-between;

        .worker-rate {
          flex-shrink: 0;
          font-weight: 600;
          color: green;

          .worker-rate-type {
            font-size: 0.64rem;
            font-weight: 400;
            color: $textlightgrey;
          }
        }
      }

      .workers-card-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .worker-rating-section,
        .worker-review-section {
          display: flex;
          flex-direction: column;
          align-items: center;

          .worker-rating-label,
          .worker-review-label {
            flex: 1;
            font-size: 0.64rem;
            font-weight: 500;
            color: $textdarkgrey;
          }
          .worker-rating-value,
          .worker-review-value {
            margin-top: 8px;
            font-size: 0.64rem;
            font-weight: 500;
            color: $textblack;
            display: flex;
            align-items: center;
            display: flex;
            align-items: center;

            .rating-star {
              margin-top: -1px;
              margin-left: 2px;
              color: $accentyellow;
            }
          }
        }

        .view-worker-profile-button-section {
          .view-worker-profile-button {
            border: 0;
            padding: 0;
            padding: 8px;
            border-radius: 4px;
            background-color: $primaryblue;
            color: #ffffff;
            text-decoration: none;
            font-size: 0.64rem;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
              rgba(0, 0, 0, 0.24) 0px 1px 2px;

            &:hover {
              background-color: $primarybluedark;
            }
          }
        }
      }
    }
  }
}

.articles-section {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 96px;

  .article {
    padding-top: 96px;
    width: 100%;
    display: flex;
    align-items: center;

    .article-text {
      flex: 1;
      padding-right: 72px;
      align-self: center;
      line-height: 150%;

      h3 {
        font-size: 1.563rem;
        color: $textblack;
        margin-bottom: 12px;
      }

      p {
        color: $textlightgrey;
      }
    }

    .article-image {
      flex-basis: 58.5%;
    }
    img {
      width: 100%;
      border-radius: 8px;
      display: block;
    }
  }

  .article:nth-child(even) {
    flex-direction: row-reverse;

    .article-text {
      padding: 0;
      padding-left: 72px;
    }
  }
}

.testimonial-section {
  padding: 96px 0;

  .testimonial-section-header {
    h3 {
      font-size: 1.563rem;
      color: $textblack;
      margin-bottom: 12px;
    }

    p {
      color: $textlightgrey;
    }
  }

  .testimonials {
    margin-top: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    .testimonial {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      padding: 24px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

      .testimonial-quote {
        color: $textdarkergrey;
        line-height: 150%;
        margin-bottom: 24px;
      }

      .testimonial-client-section {
        display: flex;
        align-items: center;

        img {
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
        }
        .testimonial-client-information {
          margin-left: 12px;

          .client-name {
            font-size: 0.8rem;
            font-weight: 500;
            color: $textdarkgrey;
          }
          .client-title {
            font-size: 0.8rem;
            color: $textlightgrey;
          }
        }
      }
    }
  }
}

.strip {
  width: 100%;
  background-color: $lightblue;
}
