<footer>
  <div class="container">
    <section>
      <div>Copyright © 2022. TradeSwap. All Rights Reserved.</div>
      <nav>
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          [routerLink]="['/workers']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Find A Tradesman</a
        >
                <a
          [routerLink]="['/contact']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact Us</a
        >
      </nav>
    </section>
  </div>
</footer>
