@import "../../../../assets/util/colors.scss";

main {
  width: 100%;
}

.search-section {
  height: auto;
  min-height: 260px;
  width: 100%;
  margin-top: 24px;
  padding-left: 48px;
  padding-right: 96px;
  background-color: $lightblue;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;

  .search {
    flex: 1;

    h3 {
      line-height: 150%;
      font-size: 1.563rem;
      color: $textblack;
    }

    .search-bar {
      margin-top: 12px;
      width: 60%;
      min-width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 12px;

      .search-icon {
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: $primaryblue;
        }
      }
      .search-input {
        padding-right: 12px;
        flex: 1;
        border-right: 2px dashed $textlightgrey;

        select {
          width: 100%;
          border: 0;
          padding: 0;
          height: 24px;
          padding: 0 12px;
          color: $textdarkgrey;

          &:focus {
            outline: 0;
          }
        }
      }

      button {
        margin-left: 12px;
        border: 0;
        padding: 0;
        padding: 8px 18px;
        border-radius: 4px;
        background-color: $primaryblue;
        color: #ffffff;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;

        &:hover {
          background-color: $primarybluedark;
        }
      }
    }
  }

  .search-illustration {
    flex: 4;
    top: -24px;
    right: 24px;
    position: absolute;
    svg {
      height: 300px;
    }
  }

  .illus-bg {
    fill: #ffeb85;
  }
}

.controls {
  height: auto;
  margin: 24px 0;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;

  .controls-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;

    .ct-first {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      // .filters {
      //   width: 100%;
      //   background-color: #f5f7f9;
      //   margin-top: 24px;
      //   padding: 12px;
      //   display: flex;
      //   justify-content: flex-end;
      //   align-items: stretch;

      form {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid $lightblue;
        padding: 4px;
        border-radius: 4px;
        // box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;

        select {
          border: 0;
          background: none;
          width: 200px;
          height: 32px;
          padding: 0 8px;
          color: $textdarkgrey;

          &:focus {
            outline: 0;
          }
        }
        button {
          margin-left: 4px;
          border: 0;
          padding: 0;
          display: block;
          height: 32px;
          padding: 0 18px;
          border-radius: 4px;
          background-color: $primaryblue;
          color: #ffffff;
          font-size: 0.8rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
            rgba(0, 0, 0, 0.24) 0px 1px 2px;

          &:hover {
            background-color: $primarybluedark;
          }
        }
        // }
      }
    }

    .sort-controls {
      display: flex;
      align-items: center;

      .sort-label {
        font-size: 0.8rem;
        font-weight: 500;
        color: $textlightgrey;
      }
      .sort-categories {
        display: flex;
        align-content: center;

        .sort-category {
          font-weight: 400;
          margin-left: 24px;
          font-size: 0.8rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            font-weight: 500;
            text-decoration: underline;
          }

          &.active {
            font-weight: 500;
            text-decoration: underline;
            color: $primaryblue;
          }
        }
      }
    }

    button {
      border: 0;
      background: none;
      padding: 0;
      font-size: 0.8rem;
      font-weight: 500;
      color: $textlightgrey;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      svg {
        fill: $textlightgrey;
        transition: all 0.2s ease-in-out;
        animation-name: filterarrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }

      &:hover {
        color: $primaryblue;

        svg {
          fill: $primaryblue;
          animation-name: filterarrow2;
          animation-duration: 1s;
          animation-iteration-count: 1;
        }
      }
    }
  }

  @keyframes filterarrow {
    0% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(-2px);
    }
  }
  @keyframes filterarrow2 {
    0% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .controls-bottom {
    border-top: 1px solid $lightblue;
    padding-top: 24px;

    display: flex;
    align-items: center;

    .category-scroller {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      position: relative;
      cursor: pointer;

      .category-widgets {
        width: 100%;
        display: flex;
        align-items: center;
        overflow-x: hidden;
      }

      .category-widget {
        flex-shrink: 0;
        width: auto;
        padding: 8px 18px;
        border: 2px solid rgba(238, 238, 238, 0.685);
        border-radius: 4px;
        margin-right: 12px;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: rgba(97, 96, 95, 0.884);
      }

      .category-widget:hover {
        border: 2px solid #4d7294;
        font-weight: 500;
        // box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.26);
        color: $textblack;
      }
    }
  }
}

.workers-card-section {
  padding-bottom: 48px;

  .line-dot {
    margin: 0 12px;
  }

  .workers-card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    .workers-card {
      padding: 12px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
      border-radius: 8px;
      background-color: #ffffff;
      transition: all 0.2s ease-in-out;
      position: relative;

      .location-badge {
        top: 16px;
        left: 16px;
        position: absolute;
        padding: 4px 12px;
        border-radius: 4px;
        background-color: #ffffff;
        font-weight: 500;
        color: $textdarkgrey;
        font-size: 0.64rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
      }

      img {
        width: 100%;
        display: block;
        aspect-ratio: 1.5;
        object-fit: cover;
        border-radius: 8px;
      }

      .workers-card-title {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        line-height: 150%;
        color: $textblack;

        .worker-name {
          word-wrap: break-word;
        }
        .worker-contact {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          span {
            display: flex;
            align-items: center;
            svg {
              margin-right: 4px;
            }
          }
        }
      }

      .workers-card-subtitle {
        margin-top: 4px;
        font-weight: 500;
        font-size: 0.64rem;
        color: $textdarkgrey;
        display: flex;
        justify-content: space-between;

        .worker-rate {
          flex-shrink: 0;
          font-weight: 600;
          color: green;

          .worker-rate-type {
            font-size: 0.64rem;
            font-weight: 400;
            color: $textlightgrey;
          }
        }
      }

      .workers-card-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .worker-rating-section,
        .worker-review-section {
          display: flex;
          flex-direction: column;
          align-items: center;

          .worker-rating-label,
          .worker-review-label {
            flex: 1;
            font-size: 0.64rem;
            font-weight: 500;
            color: $textdarkgrey;
          }
          .worker-rating-value,
          .worker-review-value {
            margin-top: 8px;
            font-size: 0.64rem;
            font-weight: 500;
            color: $textblack;
            display: flex;
            align-items: center;
            display: flex;
            align-items: center;

            .rating-star {
              margin-top: -1px;
              margin-left: 2px;
              color: $accentyellow;
            }
          }
        }

        .view-worker-profile-button-section {
          .view-worker-profile-button {
            border: 0;
            padding: 0;
            padding: 8px;
            border-radius: 4px;
            background-color: $primaryblue;
            color: #ffffff;
            text-decoration: none;
            font-size: 0.64rem;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
              rgba(0, 0, 0, 0.24) 0px 1px 2px;

            &:hover {
              background-color: $primarybluedark;
            }
          }
        }
      }
    }
  }
}

.paginator {
  margin-top: 24px;
}
::ng-deep .mat-icon-button.mat-button-disabled.mat-button-disabled {
  color: $textlightgrey;
}

::ng-deep .mat-paginator-container {
  background-color: #ffffff !important;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
}

::ng-deep .mat-paginator {
  color: $textdarkergrey !important;
}

::ng-deep .mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  color: $textdarkgrey !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $textblack !important;
}

::ng-deep .mat-form-field.mat-primary .mat-select-arrow {
  color: $textlightgrey !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $textdarkgrey !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $textlightgrey !important;
}
::ng-deep
  .mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-underline {
  background-color: green !important;
}

::ng-deep .mat-select-panel {
  background-color: #ffffff !important;
}
::ng-deep .mat-select-value {
  color: $textdarkergrey !important;
  background-color: #ffffff !important;
}
::ng-deep .mat-option {
  color: $textlightgrey !important;
  background-color: #ffffff !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $primaryblue !important;
}
