body {
  color: #00171F;
  font-family: Lato, sans-serif;
  background-color: #f6f6f6;
}

a {
  color: #007EA7;
  text-decoration: none;
}

/**
  Navigation
*/

.nav__logo > img {
  width: 100px;
}

.nav {
  flex: 1;
  max-width: 280px;
  height: 100%;
  background-color: #007EA7;
  -webkit-font-smoothing: antialiased;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #ccc;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: #b7aa37;
  cursor: default;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.nav__list {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}

.nav__list-item {
  position: relative;
}

.nav__list-item--active {
  padding: 10px 0 10px 15px;

  .nav__item-link {
    padding: 15px 15px;
    color: #1a1a1a;
    font-weight: 700;
    background-color: #FFFBFC;
    // border-top-left-radius: 8px;
    // border-bottom-left-radius: 8px;
  }
}

.nav__item-link {
  display: block;
  padding: 10px 30px;
  color: #eee;
}
