.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  form{
    display: grid;
    .half-content{
        display: grid;
        grid-auto-flow: column;
        column-gap: 2rem;
    }
  }
  